<div class="sub-nav">
  <app-back-btn></app-back-btn>
  <div class="sub-nav-title">
    <h1>Create Subvent</h1>
  </div>
</div>
<div class="wrapper">
  <div class="content">
    <mat-card class="event-info" appearance="outlined">
      <mat-card-header>
        <mat-card-title><h2>Subevent 1</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <div class="head-info">
            <h3>Head</h3>
            <p>Head name</p>
          </div>
          <div class="cohead-info">
            <h3>Cohead</h3>
            <p>Cohead name</p>
          </div>
        </div>
        <div>
          <div class="date-info">
            <h3>Date</h3>
            <p>date</p>
          </div>
          <div class="time-info">
            <h3>Time</h3>
            <p>time</p>
          </div>
        </div>
        <div>
          <div class="location-info">
            <h3>Location</h3>
            <p>location</p>
          </div>
        </div>

        <div>
          <div class="description-info">
            <h3>Description</h3>
            <p>description</p>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-fab matTooltip="add sector">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card-actions>
      <!-- <mat-card-footer>footer</mat-card-footer> -->
    </mat-card>

    <mat-card appearance="outlined">
      <mat-card-content>sector 1</mat-card-content>
    </mat-card>
  </div>
  <app-sidebar></app-sidebar>
</div>
