<mat-card>
  <div class="card-content-wrapper">
    <div class="create-form">
      <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Subevent Name</mat-label>
          <input
            matInput
            placeholder="Enter Subevent name"
            formControlName="subeventName"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            placeholder="Enter description"
            formControlName="description"
            required
          ></textarea>
        </mat-form-field>

        <div class="heads">
          <mat-form-field>
            <mat-label>Head Officer</mat-label>
            <input
              type="text"
              placeholder="Enter head name"
              aria-label="Number"
              matInput
              formControlName="head"
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Co-Head officer</mat-label>
            <input
              type="text"
              placeholder="Enter co-head name"
              aria-label="Number"
              matInput
              formControlName="coHead"
              [matAutocomplete]="auto"
            />
            <mat-autocomplete #auto="matAutocomplete">
              @for (option of filteredOptions | async; track option) {
              <mat-option [value]="option">{{ option }}</mat-option>
              }
            </mat-autocomplete>
          </mat-form-field>
        </div>

        <button class="submit-button" mat-raised-button type="submit">
          Create Event
        </button>
      </form>
    </div>
  </div>
</mat-card>