<div class="header-container">
    <div class="logo">SP Office</div>
    <div *ngIf="showDialog" class="nav-elements">
        <div *ngFor="let item of navElements; let i = index"
            [ngClass]="{'nav-element': true, 'active':item.active, 'logOut': item.title === 'Log out'}"
            (click)="handleClick(i)">
            <img src="{{ item.img }}" alt="image" />
            <span>{{ item.title }}</span>
        </div>
    </div>
    <div class="toggle-btn" (click)="showDialog = !showDialog">
        <mat-icon>menu</mat-icon>
    </div>
</div>