<div class="sub-nav">
  <app-back-btn></app-back-btn>
  <div class="sub-nav-title">
    <h1>बंदोबस्त संपादित करा</h1>
  </div>
</div>
<div class="wrapper">
  <mat-card>
    <div class="card-content-wrapper">
      <div class="create-form">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>बंदोबस्ताचे नाव</mat-label>
            <input
              matInput
              placeventNameeholder="बंदोबस्ताचे नाव प्रविष्ठ करा"
              formControlName="eventname"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>बंदोबस्त महिती</mat-label>
            <textarea
              matInput
              placeholder="बंदोबस्त महिती प्रविष्ठ करा"
              formControlName="description"
              required
            ></textarea>
          </mat-form-field>

          <div class="heads">
            <mat-form-field>
              <mat-label>मुख्याधिकारी</mat-label>
              <input
                type="text"
                placeholder="मुख्य अधिकारी नाव प्रविष्ट करा"
                aria-label="head"
                matInput
                formControlName="head"
                [matAutocomplete]="head"
                required
              />
              <mat-autocomplete
                #head="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsHead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
            <mat-form-field>
              <mat-label>सहप्रमुख अधिकारी</mat-label>
              <input
                type="text"
                placeholder="सहप्रमुख अधिकारी नाव प्रविष्ट करा"
                aria-label="cohead"
                matInput
                formControlName="cohead"
                [matAutocomplete]="cohead"
                required
              />
              <mat-autocomplete
                #cohead="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsCohead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div id="date-input">
            <mat-form-field>
              <mat-label>दिनांक निवडा</mat-label>
              <input formControlName="date" matInput [matDatepicker]="picker" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle
                matIconSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>

          <button class="submit-button" mat-raised-button type="submit">
            बंदोबस्त जतन करा
          </button>
        </form>
      </div>
    </div>
  </mat-card>

  <!-- <app-sidebar></app-sidebar> -->
</div>
