<div class="main-wrapper">
  <div class="btns">
    <app-back-btn></app-back-btn>
    <div class="btn-wrap">
      <button matTooltip="edit subevent" mat-fab (click)="navigateToEditSubevent()">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>

  <div class="wrapper">
    <div class="content">
      <mat-card class="subevent-info" appearance="outlined">
        <div class="title">
          <p>{{ subevent.subpatrollingname }}</p>
        </div>



        <div class="heads">
          <div class="police-wrapper">
            <h4>Head</h4>
            <div class="police">
              {{ subevent.head.fullname + " (" + subevent.head.designation + ")" }}
            </div>
            <div class="police-info">
              <p>{{ subevent.head.fullname }}</p>
              <p>{{ subevent.head.email }}</p>
              <p>{{ subevent.head.phone }}</p>
              <p>{{ subevent.head.policeId }}</p>
              <p>{{ subevent.head.designation }}</p>
            </div>
          </div>
          <div class="police-wrapper">
            <h4>Cohead</h4>
            <div class="police">
              {{
                subevent.cohead.fullname + " (" + subevent.cohead.designation + ")"
              }}
            </div>
            <div class="police-info">
              <p>{{ subevent.cohead.fullname }}</p>
              <p>{{ subevent.cohead.email }}</p>
              <p>{{ subevent.cohead.phone }}</p>
              <p>{{ subevent.cohead.policeId }}</p>
              <p>{{ subevent.cohead.designation }}</p>
            </div>
          </div>
        </div>


        <!-- <div class="heads">
          <div class="police-wrapper">
            <h4>Head</h4>
            <div class="police">{{subevent.head.fullname + " (" + subevent.head.designation + ")"}}</div>
          </div>
          <div class="police-wrapper">
            <h4>Cohead</h4>
            <div class="police">{{subevent.cohead.fullname + " (" + subevent.cohead.designation + ")"}}</div>
          </div>
        </div> -->
        <div class="description-info">
          <h3>Description</h3>
          <p>{{subevent.description}}</p>
        </div>
        <div class="instruction-info">
          <h3>Instructions</h3>
          <p>{{subevent.instructions}}</p>
        </div>
        <!-- <mat-card-footer>footer</mat-card-footer> -->
      </mat-card>

      <!-- <app-search-toolbar></app-search-toolbar> -->
      <div class="search-toolbar">
        <div class="search">
          <input type="text" placeholder="Search Area ......">
          <mat-icon fontIcon="search"></mat-icon>
        </div>
        <button mat-fab matTooltip="add Area" (click)="navigateToAddArea()">
          <mat-icon>add</mat-icon>
        </button>
      </div>

      @for (area of subevent.areas; track $index) {
        <mat-card class="area-card" appearance="outlined">
          <mat-card-content (click)="navigateToArea(area)">{{
            area.areaName
          }}</mat-card-content>
        </mat-card>
        }

    </div>
  </div>
</div>