<div class="main-wrapper">
    <div class="btns">
        <app-back-btn></app-back-btn>
        <div class="btn-wrap">
            <!-- <button matTooltip="add sector" mat-fab (click)="navigateToEditEvent()">
          <mat-icon>add</mat-icon>
        </button> -->
            <button matTooltip="edit area" mat-fab (click)="editArea()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>
    <div class="wrapper">
        <div class="content">
            <mat-card class="area-info" appearance="outlined">
                <div class="title">
                    <p>{{ area.areaName }}</p>
                </div>



                <div class="heads">
                    <div class="police-wrapper">
                        <h4>Head</h4>
                        <div class="police">
                            {{ area.head.fullname + " (" + area.head.designation + ")" }}
                        </div>
                        <div class="police-info">
                            <p>{{ area.head.fullname }}</p>
                            <p>{{ area.head.email }}</p>
                            <p>{{ area.head.phone }}</p>
                            <p>{{ area.head.policeId }}</p>
                            <p>{{ area.head.designation }}</p>
                        </div>
                    </div>
                    <div class="police-wrapper">
                        <h4>Cohead</h4>
                        <div class="police">
                            {{
                            area.cohead.fullname + " (" + area.cohead.designation + ")"
                            }}
                        </div>
                        <div class="police-info">
                            <p>{{ area.cohead.fullname }}</p>
                            <p>{{ area.cohead.email }}</p>
                            <p>{{ area.cohead.phone }}</p>
                            <p>{{ area.cohead.policeId }}</p>
                            <p>{{ area.cohead.designation }}</p>
                        </div>
                    </div>
                </div>


                <!-- <div class="heads">
              <div class="police-wrapper">
                <h4>Head</h4>
                <div class="police">{{area.head.fullname + " (" + area.head.designation + ")"}}</div>
              </div>
              <div class="police-wrapper">
                <h4>Cohead</h4>
                <div class="police">{{area.cohead.fullname + " (" + area.cohead.designation + ")"}}</div>
              </div>
            </div> -->
                <!-- <div class="description-info">
                    <h3>Description</h3>
                    <p>{{area.description}}</p>
                </div>
                <div class="instruction-info">
                    <h3>Instructions</h3>
                    <p>{{area.instructions}}</p>
                </div> -->
                <!-- <mat-card-footer>footer</mat-card-footer> -->
            </mat-card>

            <!-- <app-search-toolbar></app-search-toolbar> -->
            <div class="search-toolbar">
                <div class="search">
                    <input type="text" placeholder="Search Sector ......">
                    <mat-icon fontIcon="search"></mat-icon>
                </div>
                <button mat-fab matTooltip="add Sector" (click)="navigateToAddSector()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            @for (sector of area.sectors; track $index) {
            <mat-card appearance="outlined">
                <mat-card-content (click)="navigateToSector(sector)">{{
                    sector.sectorName
                    }}</mat-card-content>
            </mat-card>
            }

        </div>
    </div>
</div>