<div class="subadmin-container">
    <!-- Display subadmin details -->
    <h2>{{ subadmin.username }}</h2>
    <p>Contact: {{ subadmin.contact }}</p>
    <p>Station: {{ subadmin.station }}</p>
    <div class="police-list">
        <h3>Associated Police Officers</h3>

        @for (police of subadmin.polices; track $index) {
        <div class="police-detail">
            <p>Full Name: {{ police.fullname }}</p>
            <p>Designation: {{ police.designation }}</p>
            <p>Police ID: {{ police.policeId }}</p>
            <!-- 
                fullname: string,
                policeId: number,
                phone: string,
                email: string;
                gender: string;
                designation: string;
            -->
        </div>
        }
    </div>
</div>