<div class="sub-nav">
  <app-back-btn></app-back-btn>
  <div class="sub-nav-title">
    <h1>उपबंदोबस्त संपादित करा</h1>
  </div>
</div>
<div class="wrapper">
  <!-- <app-create-subevent-form></app-create-subevent-form> -->
  <mat-card>
    <div class="card-content-wrapper">
      <div class="create-form">
        <form [formGroup]="subeventForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>उपबंदोबस्ताचे नाव</mat-label>
            <input
              matInput
              placeholder="उपबंदोबस्ताचे नाव प्रविष्ठ करा"
              formControlName="subpatrollingname"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>उपबंदोबस्त महिती</mat-label>
            <textarea
              matInput
              placeholder="उपबंदोबस्त महिती प्रविष्ठ करा"
              formControlName="description"
              required
            ></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>सूचना</mat-label>
            <textarea
              matInput
              placeholder="सूचना प्रविष्ट करा"
              formControlName="instructions"
              required
            ></textarea>
          </mat-form-field>

          <div class="heads">
            <mat-form-field>
              <mat-label>मुख्याधिकारी</mat-label>
              <input
                type="text"
                placeholder="मुख्य अधिकारी नाव प्रविष्ट करा"
                aria-label="Number"
                matInput
                formControlName="head"
                [matAutocomplete]="head"
                required
              />
              <mat-autocomplete
                #head="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsHead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>सहप्रमुख अधिकारी</mat-label>
              <input
                type="text"
                placeholder="सहप्रमुख अधिकारी नाव प्रविष्ट करा"
                aria-label="Number"
                matInput
                formControlName="cohead"
                [matAutocomplete]="cohead"
              />
              <mat-autocomplete
                #cohead="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsCohead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <button class="submit-button" mat-raised-button type="submit">
            उपबंदोबस्त जतन करा
          </button>
        </form>
      </div>
    </div>
  </mat-card>
  <app-sidebar [event]="event"></app-sidebar>
</div>
