<div class="sub-nav">
  <app-back-btn></app-back-btn>
  <div class="sub-nav-title">
    <h1>Create Subevent</h1>
  </div>
</div>
<div class="wrapper">
  <!-- <app-create-subevent-form></app-create-subevent-form> -->
  <mat-card>
    <div class="card-content-wrapper">
      <div class="create-form">
        <form [formGroup]="eventForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="fill">
            <mat-label>Subevent Name</mat-label>
            <input
              matInput
              placeholder="Enter Subevent name"
              formControlName="subpatrollingname"
              required
            />
          </mat-form-field>

          <mat-form-field appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
              matInput
              placeholder="Enter description"
              formControlName="description"
              required
            ></textarea>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Instructions</mat-label>
            <textarea
              matInput
              placeholder="Enter instructions"
              formControlName="instructions"
              required
            ></textarea>
          </mat-form-field>

          <div class="heads">
            <mat-form-field>
              <mat-label>Head Officer</mat-label>
              <input
                type="text"
                placeholder="Enter head name"
                aria-label="Number"
                matInput
                formControlName="head"
                [matAutocomplete]="head"
                required
              />
              <mat-autocomplete
                #head="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsHead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Co-Head officer</mat-label>
              <input
                type="text"
                placeholder="Enter co-head name"
                aria-label="Number"
                matInput
                formControlName="cohead"
                [matAutocomplete]="cohead"
              />
              <mat-autocomplete
                #cohead="matAutocomplete"
                [displayWith]="displayPoliceName"
              >
                @for (option of filteredOptionsCohead | async; track option) {
                <mat-option [value]="option">{{ option.fullname }}</mat-option>
                }
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <button class="submit-button" mat-raised-button type="submit">
            Create Event
          </button>
        </form>
      </div>
    </div>
  </mat-card>
  <app-sidebar [event]="event"></app-sidebar>
</div>
