<div class="signup-screen">
  <div class="form-container">
    <!-- title -->

    <div class="title">
      <h3>Police Registeration Form</h3>
      <p>Fill your details and wait for your validation</p>
    </div>

    <!-- main Form body  -->

    <form class="form" [formGroup]="reactiveForm" (ngSubmit)="submit()">
      
      <!-- Name Field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">Name</mat-label>
          <input class="input" matInput formControlName="fullname" />
        </mat-form-field>
      </p>
      
      <!-- Gender Field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">Gender</mat-label>
          <mat-select formControlName="gender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
          </mat-select>
        </mat-form-field>
      </p>

      <!-- Police Id Field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">Police ID</mat-label>
          <input class="input" matInput formControlName="policeId" />
        </mat-form-field>
      </p>

      <!-- Email Field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">Email</mat-label>
          <input class="input" matInput formControlName="email" />
        </mat-form-field>
      </p>
      <!-- Invalid Email Error  -->
      <div
        [ngClass]="{
          errormsg: true,
          errormgsDisplay:
            reactiveForm.get('email').invalid &&
            reactiveForm.get('email').touched
        }"
      >
        Invalid Email ID
      </div>

      <!-- Phone filed  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">Phone</mat-label>
          <span class="prefix" matTextPrefix>+91 &nbsp;</span>

          <input type="tel" class="input" matInput formControlName="phone" />
        </mat-form-field>
      </p>
      <!-- Invalid Phone Error  -->
      <div
        [ngClass]="{
          errormsg: true,
          errormgsDisplay:
            reactiveForm.get('phone').invalid &&
            reactiveForm.get('phone').touched
        }"
      >
        Invalid Phone number
      </div>

      <!-- Designation field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label>Designation</mat-label>
          <mat-select formControlName="designation">
            <div class="option" *ngFor="let option of designationOptions">
              <mat-option [value]="option">{{ option }}</mat-option>
            </div>
          </mat-select>
        </mat-form-field>
      </p>

      <!-- Admin Field  -->
      <p>
        <mat-form-field class="input-block" appearance="outline">
          <mat-label class="label">SubAdmin</mat-label>
          <input class="input" matInput formControlName="subadminId" />
        </mat-form-field>
      </p>

      <!--Form buttons submit || reset  -->

      <div class="formButtons">
        <button type="reset" class="reset-btn">Reset</button>
        <button type="submit" class="submit-btn">Submit</button>
      </div>
    </form>

  </div>
</div>
