<!-- @for (police of subadmin?.polices; track $index) {
<p><strong>Full Name:</strong> {{ police.fullname }}</p>
<p><strong>Police ID:</strong> {{ police.policeId }}</p>
<p><strong>Phone:</strong> {{ police.phone }}</p>
<p><strong>Email:</strong> {{ police.email }}</p>
<p><strong>Gender:</strong> {{ police.gender }}</p>
<p><strong>Designation:</strong> {{ police.designation }}</p>
<hr />
}  -->

<div class="expandBtn">
  <button mat-fab extended (click)="toggleAllPanels()">
    {{ expandAll ? 'Collapse All' : 'Expand All' }}
  </button>
</div>

<div *ngFor="let police of policeArray; let i = index">
  <mat-expansion-panel
    (opened)="panelOpenState.set(true)"
    (closed)="panelOpenState.set(false)"
    [expanded]="expandAll"
  >
    <mat-expansion-panel-header>
      <mat-panel-title>
        <p><strong> Name : </strong>{{ police.designation }} {{ police.fullname }} </p>
      </mat-panel-title>
      <mat-panel-description>
        {{ panelOpenState() ? "less" : "more" }}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p><strong>Police ID:</strong> {{ police.policeId }}</p>
    <p><strong>Phone:</strong> {{ police.phone }}</p>
    <p><strong>Email:</strong> {{ police.email }}</p>
    <p><strong>Gender:</strong> {{ police.gender }}</p>
    <p><strong>Designation:</strong> {{ police.designation }}</p>
  </mat-expansion-panel>

</div>
