.main-wrapper{
    padding: 10px 20px;
}

.wrapper{
    display: flex;
    gap: 1rem;
    margin: 1rem;
}

.btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.btns .btn-wrap{
    display: flex;
    gap: 20px;
}

.content{
    flex: 1;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.event-info{
    border: 0px solid rgb(93, 93, 93);
    box-shadow: 0 0 10px rgb(114, 114, 114);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title{
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    font-weight: 500;
}
.heads{
    display: flex;
    /* justify-content: space-between; */
    gap: 100px;
    font-size: 15px;
}
.heads div{
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.police-wrapper{
    position: relative;
}

.police{
    padding: 5px 10px;
    background: rgb(5, 89, 255);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.police-info{
    position: absolute;
    width: 200px;
    padding: 15px;
    left: 70px;
    top: -25px;
    display: flex;
    border-radius: 12px;
    flex-direction: column;
    background: rgb(255, 255, 255);
    box-shadow: 2px 2px 5px rgb(110, 110, 110);
    opacity: 0;
    height: 0;
    top: 50px;
    color: transparent;
    overflow: hidden;
    padding: 0;
    transition: all 0.3s ease;
}

.police-wrapper:hover .police-info{
    opacity: 1;
    height: auto;
    top: -25px;
    color: black;
    padding: 15px;
}

.create-card{
    flex: 1;
}

.create-subevent-button{
    padding: 1rem 0;
    padding-left: auto;
    display: flex;
    justify-content: flex-end;
}

.description-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

mat-card{
    cursor: pointer;
    transition: all 0.2s ease;
    &:hover{
        padding-left: 10px;
    }
}
.search-toolbar {
    width: 100%;
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search{
    height: 100%;
    width: 60%;
    display: flex;
    align-items: center;
    border: 2px solid rgb(104, 104, 255);
    padding: 0 10px;
    border-radius: 6px;
}
.search input{
    height: 80%;
    width: 100%;
    outline: none;
    padding: 0 10px;
    border: 0;
    font-size: 16px;
}