
<div class="main-wrapper">

  <div class="btns">
    <app-back-btn></app-back-btn>
    <div class="btn-wrap">
      <button matTooltip="add subevent" mat-fab (click)="navigateToEditEvent()">
        <mat-icon >add</mat-icon>
      </button>
      <button matTooltip="edit event" mat-fab (click)="navigateToEditEvent()">
        <mat-icon >edit</mat-icon>
      </button>
    </div>
  </div>
  <div class="wrappr">
    <div class="content">
      <div class="event-info" appearance="outlined">
        <div class="title">
          <p>{{ event.eventname }}</p>
          <p>{{event.date | dateFormat:'shortDate' }}</p>
        </div>
        <!-- <mat-card-content> -->
          <div class="heads">
            <div>
              <h4>Head</h4>
              <div class="police">{{event.head.fullname + " (" + event.head.designation + ")"}}</div>
            </div>
            <div>
              <h4>Cohead</h4>
              <div class="police">{{event.cohead.fullname + " (" + event.cohead.designation + ")"}}</div>
            </div>
          </div>
          
          
          <!-- <div> -->
            <div class="description-info">
              <h4>Description</h4>
              <p>{{event.description}}</p>
            </div>
          <!-- </div> -->
        <!-- </mat-card-content> -->
        <!-- <mat-card-actions> -->
          <!-- <button
          mat-fab
          matTooltip="edit event"
          (click)="navigateToEditEvent()"
          >
          <mat-icon>edit</mat-icon>
        </button> -->
      <!-- </mat-card-actions> -->
      <!-- <mat-card-footer>footer</mat-card-footer> -->
    </div>
    
    <!-- <app-search-toolbar></app-search-toolbar> -->
    @for (subevent of event.subpatrollings; track $index) {
    <mat-card appearance="outlined">
      <mat-card-content (click)="navigateToSubevent()">{{subevent.description}}</mat-card-content>
    </mat-card>
  }
  </div>
  <!-- <app-sidebar></app-sidebar> -->
</div>
</div>