* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f9efef;

}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.outlet {
    padding: 10px 0px;
    padding-bottom: 5rem;
}